@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Variable", sans-serif !important;
  scroll-behavior: smooth;
}

.navbar {
  box-shadow: var(--shadow-2);
}

.footer {
  box-shadow: var(--shadow-2);
}

.child {
  height: 100% !important;
}

.box {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 9px);
  top: 5;
  border: 2px solid white;
}
